@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    scroll-behavior: smooth;
}

header {
    position: sticky;
    top: 0px;
    z-index: 100;
}

.chat {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: red;
    bottom: 20px;
    right: 20px;
    line-height: 55px;
    text-align: center;
    border: 2px solid gray;
    box-shadow: 0px 0px 4px #484a4b;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.4s;
}

.chat:hover {
    background-color: #976e6e;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: red;
    width: 100vw;
    min-height: 64px;
}

#logo {
    width: 60px;
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
    cursor: pointer;
}

.r-content {
    display: flex;
}


#r-cont-item {
    padding: 20px 0px;
    display: flex;
    gap: 25px;
    margin-right: 60px;
    margin-bottom: 0px !important;
}

#r-cont-item li a {
    transition: all 0.2s;
    padding: 0px 0px 6px 0px;
}


#r-cont-item li a:hover {
    border-bottom: 2.5px solid white;


}

/* This is for ham-burger */
.ham-burger {
    color: wheat;
    margin-right: 34px;
    font-size: 27px;
    display: none;
    margin-top: 10px;
}

.ham-burger p i {
    cursor: pointer;
}



/* section 1 */

.main-content {
    position: relative;
    height: 60vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 18px #513b3b;
    gap: 20px;
    text-align: center;
    padding: 0px 69px;
}

.main-content::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('/img/img1.jpg');
    background-size: 100% 100%;
    background-position: center;
    z-index: -1;
    filter: brightness(0.5);
    /* animation: scroll 8s linear infinite; */
}

@keyframes scroll {
    0% {
        background: url('/img/img1.jpg');
    }

    /* 22% {
        background: url('/img/img1.jpg');
    } */

    33% {
        background: url('/img/img2.jpg');
    }

    /* 54% {
        background: url('/img/img2.jpg');
    } */

    66% {
        background: url('/img/img3.jpg');
    }

    /* 85% {
        background: url('/img/img3.jpg');
    } */

    100% {
        background: url('/img/img1.jpg');
    }
}

.main-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.main-content button {
    outline: none;
    border: navajowhite;
    padding: 8px 17px;
    cursor: pointer;
    background: red;
    color: white;
    font-weight: 300;
    font-size: 15px;
    border: 2px solid red;
    transition: all .5s;
}

.main-content button:hover {
    background-color: transparent;
}

/* section 2 */

#courses {
    padding-top: 50px;
}

.courses {
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fefefe;
}

.course-card {
    max-width: 300px;
    margin: 30px;
    border: 2px solid red;
    border-radius: 10px;
    transition: all 0.8s;
    cursor: pointer;
    min-width: 275px;
}

.course-card:hover {
    background-color: red;
    color: white;
}

.course-card .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course-card .content h3 {
    font-size: 22px;
    margin-bottom: 8px;
}

.c-head {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    padding-top: 24px;
}

/* section 3 : placement */

.campus_selection {
    background-color: rgb(64, 62, 62);
    color: white;
    font-size: 18px;
    padding-bottom: 30px;
}


.cap-cards {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10vh;
    column-gap: 30vh;
    padding-top: 30px;
    padding-bottom: 20px;
}

.place-card {
    max-width: 306px;
    min-width: 270px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 20px;
}

/* footer */
.foot {
    background-color: black;
    color: white;
    display: grid;
    place-items: center;
    padding: 30px 0px;
    margin-top: auto;
}